html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
}

/*tab navigation*/

.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}


.navbar {
    background-color: #f8f9fa; /* Light background for the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for the navbar */
}

.btn-custom-primary {
    background-color: #0056b3; /* Darker blue for the primary button */
    border-color: #004494; /* Darker border color */
    color: #ffffff; /* White text color */
}

    .btn-custom-primary:hover {
        background-color: #004494; /* Even darker blue on hover */
        border-color: #003a8c;
        color: #ffffff; /* Darker border on hover */
    }


.sticky-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Ensure it's above other content */
    transition: top 0.3s; /* Smooth transition */
}